<div class="bucketList">

  <table class="orderTab">
    <tr>
      <th>Producent</th>
      <th>Model</th>
      <th>Ilość</th>
      <th>Cena</th>
      <th>Usuń</th>
    </tr>
    <tr>
      <td>Ampio</td>
      <td>Amp1</td>
      <td>3</td>
      <td>123zł</td>
      <td>Usuń</td>
    </tr>
    <tr>
      <td>Ampio</td>
      <td>Amp2</td>
      <td>3</td>
      <td>123zł</td>
      <td>Usuń</td>
    </tr>
    <tr>
      <td>Ampio</td>
      <td>Amp3</td>
      <td>3</td>
      <td>123zł</td>
      <td>Usuń</td>
    </tr>
    <tr>
      <td>Ampio</td>
      <td>Amp4</td>
      <td>3</td>
      <td>123zł</td>
      <td>Usuń</td>
    </tr>
    <tr>
      <td>Dostawa</td>
      <td></td>
      <td></td>
      <td>23zł</td>
      <td></td>
    </tr>
    <tr>
      <td>Suma</td>
      <td></td>
      <td></td>
      <td>1123zł</td>
      <td></td>
    </tr>
  </table>

  <button class="payBtn">Zapłać</button>
</div>
