<div class="addressList">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" [(ngModel)]="email" required><br>

    <label for="password">Hasło:</label><br>
    <input type="password" id="password" name="password" [(ngModel)]="password" required><br>

    <button class="payBtn" type="submit">Zaloguj</button>
  </form>

  <p *ngIf="loginMessage" style="color: green;">{{ loginMessage }}</p>
  <p>Nie masz jeszcze konta <a routerLink="/register">Zarejestruj się</a></p>
</div>
