
<header>
  <div class="logo">
    <a href="/">
    <img src="logo.png" alt="Logo" width="100" height="100" />
    </a>
  </div>
  <h1 class="smart">Smart Your Home</h1>

  <div class="searh-btn">
    <input type="text" name="search" placeholder="Szukaj" class="search" />
    <a href="" class="nav-btn"
    ><img src="loop.png" alt="loop" class="img2"/></a>
  </div>

  <div class="login">
    <p class="log">
      <span><a href="/login" class="log-btn">Logowanie </a></span>
      <img src="icon.png" alt="icon" class="img" />
    </p>
    <p class="log"><a href="/register" class="log-btn">Rejestracja</a></p>
  </div>

  <div class="backet">
    <p>Koszyk(0)</p>
    <p>0zł</p>
  </div>
</header>

<div class="navbar">
  <div class="navbutton menu">MENU</div>
  <div class="navbutton"><a href="/account" class="nav-btn">Moje konto</a></div>
  <div class="navbutton"><a href="/bucket" class="nav-btn">Koszyk</a></div>
  <div class="navbutton"><a href="" class="nav-btn">Wypróbuj</a></div>
  <div class="navbutton"><a href="/checkout" class="nav-btn">Do kasy</a></div>
</div>
