
<div class="container">
  <div class="component">
    <p class="name" Moduł></p>
    <p></p>
    <p>
      <img src="https://help.ampio.com/assets/modules/M-DIM-2s/600x600.png"/>
    </p>
    <p>Cena: 750zł netto</p>
    <a href="" class="add-btn">Dodaj do koszyka</a>
  </div>

  <div class="component">
    <p class="name" Moduł></p>
    <p></p>
    <p>
      <img src="https://help.ampio.com/assets/modules/M-DIM-2s/600x600.png"/>
    </p>
    <p>Cena: 750zł netto</p>
    <a href="" class="add-btn">Dodaj do koszyka</a>
  </div>
</div>
<app-product-list>  </app-product-list>


