<div class="mainpage">
  <div class="sidebar">
    <div class="navbutton menu">Kategorie</div>
    <div class="sidebutton"><a href="" class="nav-btn">Wszystko</a></div>
    <div class="sidebutton"><a href="" class="nav-btn">Moduły</a></div>
    <div class="sidebutton"><a href="" class="nav-btn">Panele</a></div>
    <div class="sidebutton"><a href="" class="nav-btn">Włączniki</a></div>
    <div class="sidebutton"><a href="" class="nav-btn">Sensory</a></div>
    <div class="sidebutton"><a href="" class="nav-btn">Audio</a></div>
    <div class="sidebutton"><a href="" class="nav-btn">Żarówki</a></div>
  </div>
</div>
