<form (ngSubmit)="register()" #registrationForm="ngForm">
  Name
  <input type="text" name="name" [(ngModel)]="user.name" required><br>
  Surname
  <input type="text" name="surname" [(ngModel)]="user.surname" required><br>
  email
  <input type="email" name="email" [(ngModel)]="user.email" required><br>
  adres
  <input type="text" name="address" [(ngModel)]="user.address" required><br>
  password
  <input type="password" name="password" [(ngModel)]="user.password" required><br>
  <button type="submit">Zarejestruj</button>
</form>
